// show trands in getting-started bar on in column view
.column .getting-started__trends .trends__item:nth-child(2),
.column .getting-started__trends .trends__item:nth-child(3),
.column .getting-started__trends .trends__item:last-child {
  background: lighten($ui-base-color, 8%);
}

.column .getting-started__trends h4 {
  background: $ui-base-color;
  color: $dark-text-color;
  padding: 0 20px 8px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: default;
  border-bottom: 0;
}

// Markdown style
.status__content,
.reply-indicator__content {

  strong,
  b {
    font-weight: 700;
  }

  em,
  i {
    font-style: italic;
  }

  code {
    font-family: $font-monospace, monospace;
    background-color: darken($ui-base-color, 8%);
    border-radius: 3px;
    font-size: 0.85em;
    padding: 0.075em 0.4em;
  }

  del,
  s {
    text-decoration: line-through;
  }
}

// hashtag style
.hashtag.status-link,
.u-url.status-link {
  background: rgba(darken($ui-base-color, 7%), 0.36);
  color: $highlight-text-color;
  padding: 0px 5px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  border-style: dashed;
  border-color: $highlight-text-color;
  border-width: 0.5px;
  border-radius: 5px;
  margin: 1px;

  &:before {
    // you may use your own icon font here
    padding-right: 2px;
  }

  &:hover {
    background-color: rgba(lighten($ui-base-color, 13%), 0.36);
  }

  span {
    text-decoration: none !important;
  }
}

.muted .status__content a {
  border-color: $dark-text-color;
}